<h1>Actualizar informacion</h1>

<div>
  <form (ngSubmit)="submitUpdate()">
  <label>Nombre:</label> <br>
  <input type="text" [(ngModel)]="selectedEquipo.nombre" name="name" required> <br>
  
  <label>Status:</label><br>
  <input type="text" [(ngModel)]="selectedEquipo.status" name="status" required><br>
  
  <label>Cantidad:</label> <br>
  <input type="number" [(ngModel)]="selectedEquipo.cantidad" name="cantidad" required> <br>
  
  <button type="submit">Guardar</button>
  <button type="button" routerLink="/equipo">Cancel</button>
  </form>
</div>
  
