.page{
    background-color: rgb(217, 239, 239);
    height: 90vh;
}

.section .example-card{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 24%;
    float: left;
    height: 310px;
    margin-left: 10px;
    border: solid 1px;
    border-color: black;
    box-sizing: border-box; 
  
    &::after{
      content: "";
      display: table;
      clear: both;
    }
}

mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    //background-color: aqua;
}

.section .example-card .card-header{
    text-align: center;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.botton{
    text-align: center;
    margin-bottom: 1%;
}

.buttonStyle{
    background-color: rgb(115, 121, 246);
    margin-left: 10px;
    color: white;
}

img{
    display: block;
    width: 40%;
    margin: auto;
}

@media screen and (max-width: 1023px){
    .section .example-card{
        margin-top: 1%;
        margin-bottom: 1%;
        width: 33%;
        min-height: 100px;
        float: left;
        border: solid 1px;
        border-color: black;
        box-sizing: border-box; 
      
        &::after{
          content: "";
          display: table;
          clear: both;
        }
    }
}

@media screen and (max-width: 767px){
    .section .example-card{
        margin-top: 1%;
        margin-bottom: 1%;
        width: 48%;
        height: 270px;
        float: left;
        border: solid 1px;
        border-color: black;
        box-sizing: border-box; 
      
        &::after{
          content: "";
          display: table;
          clear: both;
        }
    }
}