<div class="container">
    <div *ngFor="let equipo of equipos" class="section">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title style="text-align: center;">{{equipo.nombre}}</mat-card-title>
                <mat-card-subtitle style="text-align: center;">{{equipo.status}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{equipo.imagen}}" alt="img">
            <mat-card-content>
            <p>
                Cantidad en stock: {{equipo.cantidad}}
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button *ngIf="user.rol==='Admin'" (click)="eliminarEquipo(equipo._id)" data-id="{{ equipo._id }}" >Eliminate</button>
            <button mat-button *ngIf="user.rol==='Admin'" (click)="updateEquipo(equipo._id)"  >Update</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>


<div class="botton">
    <button mat-raised-button color="primary" *ngIf="user.rol==='Admin'"  routerLink="/crear_eq">New</button>
</div>
  
  
