<h1>Crear</h1>

<form (ngSubmit)="crearEspacio()">
  <div class="form-group">
    <input type="text" class="form-control" id="nombre" [(ngModel)]="espacio.nombre" name="nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="status" [(ngModel)]="espacio.status" name="status" placeholder="Status">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="stock" [(ngModel)]="espacio.stock" name="stock" placeholder="stock">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="image" [(ngModel)]="espacio.image" name="image" placeholder="Image">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <button type="button" routerLink="/espacios">Cancel</button>
</form>
