<mat-toolbar color="primary">
  <div class="navBar">
    <span class="RentITESO">RentITESO</span>
    <span class="example-spacer"></span>
    <button class="buttons" mat-raised-button color="accent" routerLink="/equipo">Equipo</button>
    <span class="example-spacer"></span>
    <button class="buttons" mat-raised-button colot= "accent" routerLink="/espacios">Espacios</button>
    <span class="example-spacer"></span>
    <button class="buttons" mat-raised-button color="accent" routerLink="/reservas">Reservas</button>
    <span class="example-spacer"></span>
    <button class="buttons" title="Cerrar Sesión" mat-icon-button class="example-icon" aria-label="Example icon-button with logout icon"
      (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button class="buttons" title="Perfil" mat-icon-button class="example-icon" aria-label="Example icon-button with person icon"
      routerLink="/perfil">
      <mat-icon>person</mat-icon>
    </button>
  </div>

</mat-toolbar>
