<mat-toolbar color="primary">
    <span class="RentITESO">RentITESO</span>
    <span class="example-spacer"></span>
    <button class="buttons" mat-raised-button color="accent" routerLink="/">Equipo</button>
    <span class="example-spacer"></span>
    <button class="buttons" mat-raised-button routerLink="/espacios">Espacios</button>
    <span class="example-spacer"></span>
    <button class="buttons" mat-raised-button color="accent" routerLink="/historia">Historia</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>