.example-spacer {
    flex: 1 1 auto;
  }

.RentITESO {
  font-family:fantasy;
  font-size:xx-large;
}


.buttons {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  width: 200px;
  height: 55px;
  line-height:normal;
}