<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item><p class="dataUser">Nombre</p></mat-list-item>
                <mat-list-item>Nelson</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p class="dataUser">Apellido</p></mat-list-item>
                <mat-list-item>Vargas</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p class="dataUser">Correo</p></mat-list-item>
                <mat-list-item>is708203@iteso.mx</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p class="dataUser">Rol</p></mat-list-item>
                <mat-list-item>Estudiante</mat-list-item>
              </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="accent">Editar Perfil</button>
            <button mat-stroked-button color="accent">Cambiar contraseña</button>
        </mat-card-actions>
      </mat-card>
</div>