<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div class="example-header-image">
            <img src="{{user.image}}" >
          </div>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item><p class="dataUser">Nombre</p></mat-list-item>
                <mat-list-item>{{user.nombre}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p class="dataUser">Apellido</p></mat-list-item>
                <mat-list-item>{{user.apellido}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p class="dataUser">Correo</p></mat-list-item>
                <mat-list-item>{{user.email}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p class="dataUser">Rol</p></mat-list-item>
                <mat-list-item>{{user.rol}}</mat-list-item>
              </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="accent" (click)="print()">Editar Perfil</button>
            <button mat-stroked-button color="accent">Cambiar contraseña</button>  
        </mat-card-actions>
      </mat-card>

      <div>
        <button mat-stroked-button *ngIf="user.rol==='Admin'" routerLink="/usuarios">Lista de usuarios</button>
      </div>
      
</div>