.page{
    background-color: rgb(217, 239, 239);
    height: 90vh;
}

div .example-card{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10px;
    width: 24%;
    height: 250px;
    float: left;
    border: solid 1px;
    border-color: black;
    box-sizing: border-box; 
  
    &::after{
      content: "";
      display: table;
      clear: both;
    }
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.buttonStyle{
    background-color: rgb(115, 121, 246);
    margin-left: 10px;
    color: white;
}

.botton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    //margin-bottom: 1%;
}

img{
    width: 50%;
    margin: auto;
}


.example-card{
    text-align: center;
}

@media screen and (max-width: 1023px) {
    div .example-card{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 10px;
        width: 33%;
        height: 220px;
        float: left;
        border: solid 1px;
        border-color: black;
        box-sizing: border-box; 
      
        &::after{
          content: "";
          display: table;
          clear: both;
        }
    }
}

@media screen and (max-width: 767px) {
    div .example-card{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 10px;
        width: 48%;
        height: 220px;
        float: left;
        border: solid 1px;
        border-color: black;
        box-sizing: border-box; 
      
        &::after{
          content: "";
          display: table;
          clear: both;
        }
    }
}