<div class="container">
    <div *ngFor="let espacio of espacios" class="section">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title style="text-align: center;">{{espacio.nombre}}</mat-card-title>
                <mat-card-subtitle style="text-align: center;">{{espacio.status}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{espacio.image}}" alt="img">
            <mat-card-content>
            <p>
                Cantidad en stock: {{espacio.stock}}
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button (click)="eliminarEspacio(espacio._id)" data-id="{{ espacio._id }}" *ngIf="usuario === 0">Eliminate</button>
            <button mat-button (click)="updateEspacio(espacio)" data-id="{{ espacio._id }}" *ngIf="usuario === 0">Update</button>
            <div *ngIf="selectedEspacioId === espacio._id">
                <form (ngSubmit)="submitUpdate()">
                <label>
                    Nombre:
                    <input type="text" [(ngModel)]="selectedEspacio.nombre" name="name" required>
                </label>
                <label>
                    Status:
                    <textarea [(ngModel)]="selectedEspacio.status" name="status" required></textarea>
                </label>
                <label>
                    Cantidad:
                    <input type="number" [(ngModel)]="selectedEspacio.stock" name="stock" required>
                </label>
                <button type="submit">Guardar</button>
                <button type="button" (click)="closeForm()">Cancel</button>
                </form>
            </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div class="botton">
    <button mat-raised-button color="primary" (click)="showForm()" *ngIf="usuario === 0">New</button>
    <form (ngSubmit)="crearEspacio()" *ngIf="show">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="espacio.nombre" name="nombre">
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" class="form-control" id="status" [(ngModel)]="espacio.status" name="status">
        </div>
        <div class="form-group">
          <label for="stock">Stock:</label>
          <input type="number" class="form-control" id="Stock" [(ngModel)]="espacio.stock" name="stock">
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="text" class="form-control" id="image" [(ngModel)]="espacio.image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" (click)="closeForm()">Cancel</button>
      </form>
</div>
  
  
