div .example-card{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 25%;
    //height: 300px;
    float: left;
    border: solid 1px;
    border-color: black;
    box-sizing: border-box; 
  
    &::after{
      content: "";
      display: table;
      clear: both;
    }
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.botton{
    text-align: center;
    margin-bottom: 1%;
}

img{
    width: 50%;
    margin: auto;
}


.example-card{
    text-align: center;
}