.page{
    background-color: rgb(217, 239, 239);
    height: 90vh;
}

div .example-card{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10px;
    width: 45%;
    height: 300px;
    float: left;
    border: solid 1px;
    border-color: black;
    box-sizing: border-box; 
  
    &::after{
      content: "";
      display: table;
      clear: both;
    }
}

img{
    width: 150px;
    height: 150px;
}

mat-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: aqua;
    min-width: 500px;
}

@media screen and (max-width: 1024px) {
    div .example-card{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 10px;
        width: 32%;
        height: 400px;
        float: left;
        border: solid 1px;
        border-color: black;
        box-sizing: border-box; 
      
        &::after{
          content: "";
          display: table;
          clear: both;
        }
    }

    img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    div .example-card{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 10px;
        width: 48%;
        height: 320px;
        float: left;
        border: solid 1px;
        border-color: black;
        box-sizing: border-box; 
      
        &::after{
          content: "";
          display: table;
          clear: both;
        }
    }

    img{
        width: 150px;
        height: 150px;
    }
    
}