<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Equipo">
        <h3>Aquí iría el ngFor para los diferentes materiales y equipo disponibles</h3>
        <router-outlet>la idea aquí es que cuando se le de click te mande a la page de equipo, espacio e historia respectivamente</router-outlet>
    </mat-tab>
    <mat-tab label="Espacio">
        <h3>Aquí iría el ngFor para los diferentes espacios disponibles</h3> 
    </mat-tab>
    <mat-tab label="Historia Deportiva">
        <h3>Aquí iría algo acerca de la historia deportiva del iteso o fotos de torneos, etc.</h3>
    </mat-tab>
</mat-tab-group>