<h1>Actualizar informacion</h1>

<div>
  <form (ngSubmit)="submitUpdate()">
  <label>Nombre:</label> <br>
  <input type="text" [(ngModel)]="selectedEspacio.nombre" name="name" required> <br>
  
  <label>Status:</label><br>
  <input type="text" [(ngModel)]="selectedEspacio.status" name="status" required><br>
  
  <label>Stock:</label> <br>
  <input type="number" [(ngModel)]="selectedEspacio.stock" name="cantidad" required> <br>
  
  <button type="submit">Guardar</button>
  <button type="button" routerLink="/espacios">Cancel</button>
  </form>
</div>
  
