h1{
    margin-top: 30px;
    font-size: 4rem;
    color: rgb(0, 0, 0);
}

.page{
    background-color: rgb(217, 239, 239);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    margin-top: 10px;
    //background-color: rgb(98, 139, 234);
    border-radius: 5%;
}

.container{
    min-width: 700px;
    margin: auto;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    padding: 10px;
}

.messages{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    > div {
        padding: 6px 12px;
        border: solid 1px #dedede;
        border-radius: 5px;
        box-shadow: #333 3px 3px 8px;
        margin-bottom: 30px;
        font-size: 2rem;

        &.emisor {
            text-align: right;
            background-color: rgb(209, 239, 249);
            margin-bottom: 20px;
            font-size: 2rem;
            font-style: italic;
        }
    }
}

mat-form-field{
    width: 800px;
}

@media screen and (max-width: 1023px){
    h1{
        margin-top: 30px;
        font-size: 3rem;
        color: rgb(71, 72, 72);
    }

    .container{
        min-width: 200px;
        margin: auto;
        background-color: rgb(251, 251, 251);
        border-radius: 10px;
        padding: 10px;
    }
    

    .messages{
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        > div {
            border: solid 1px #dedede;
            border-radius: 5px;
            box-shadow: #333 3px 3px 8px;
            margin-bottom: 25px;
            &.emisor {
                text-align: right;
                background-color: rgb(209, 239, 249);
                margin-bottom: 20px;
                font-size: 1.5rem;
                font-style: italic;
            }
        }
    }
    
    mat-form-field{
        width: 600px;
    }
}

@media screen and (max-width: 767px){
    h1{
        margin-top: 30px;
        font-size: 2rem;
        color: rgb(71, 72, 72);
    }

    .container{
        min-width: 200px;
        margin: auto;
        background-color: rgb(251, 251, 251);
        border-radius: 10px;
        padding: 10px;
    }
    

    .messages{
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        > div {
            border: solid 1px #dedede;
            border-radius: 5px;
            box-shadow: #333 3px 3px 8px;
            margin-bottom: 25px;
            &.emisor {
                text-align: right;
                background-color: rgb(209, 239, 249);
                margin-bottom: 20px;
                font-size: 1.5rem;
                font-style: italic;
            }
        }
    }
    
    mat-form-field{
        width: 350px;
    }
}

