mat-card{
    display: flex;
    flex-direction: column;
    width: 35%;
}

mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    h1{
        font-size: 2.5rem;
        color: rgb(74, 74, 138);
    }
}

mat-card-content{
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 18px;
}

mat-card-actions{
    display: flex;
    justify-content:space-evenly;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 246, 246);
    min-width: 30%;
    min-height: 100%;
}

.formRegister{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px;
}

.ingresar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    button{
        min-width: 300px;
        min-height: 40px;
        margin-bottom: 10px;
    }
}