<div class="form">
    <mat-card>
        <mat-card-content>Ingresa datos del nuevo usuario</mat-card-content>
        <form class="formRegister" [formGroup]="formRegister" (submit)="!edit ? createUser() : editUser()">
          <mat-form-field class="example-full-width">
            <mat-label for="nombre">Nombre</mat-label>
            <input [(ngModel)]="user.nombre" matInput type="text" name="nombre" formControlName="nombre">
          </mat-form-field>
          <mat-form-field  class="example-full-width">
            <mat-label for="apellido">Apellido</mat-label>
            <input [(ngModel)]="user.apellido" matInput type="text" name="apellido" formControlName="apellido">
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="!edit">
            <mat-label for="correo">Correo</mat-label>
            <input [(ngModel)]="user.email" matInput type="email" name="correo" placeholder="...@iteso.mx" formControlName="email" >
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="!edit">
            <mat-label for="password">Password</mat-label>
            <input [(ngModel)]="user.password" matInput type="password" name="password" formControlName="password">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Seleccionar Rol</mat-label>
            <mat-select [(ngModel)]="user.rol" formControlName="rol">
              <mat-option value="Admin">Admin</mat-option>
              <mat-option value="Usuario">Usuario</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label for="imagen">Imagen</mat-label>
            <input [(ngModel)]="user.image" matInput type="text" name="imagen" formControlName="image">
          </mat-form-field>
          <div class="ingresar" *ngIf="!edit"><button mat-raised-button color="primary">Crear</button></div>
          <div class="ingresar" *ngIf="edit"><button mat-raised-button color="primary">Editar</button></div>
        </form>
        <!-- <div class="" *ngIf="formRegister.invalid">
          Formulario invalido
        </div>  -->
    </mat-card>
</div>