.container{
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 100vh;
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./../../../assets/ITESOprueba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 70%;
    min-height: 100%;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 246, 246);
    min-width: 30%;
    min-height: 100%;
}

.example-card {
    max-width:600px;
    background-color: rgb(248, 248, 248);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    img{
        height: 500px;
    }
}
  
.example-header-image {
    background-size: cover;
}

mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    h1{
        font-size: 2.5rem;
        color: rgb(74, 74, 138);
    }
}

mat-card-content{
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 18px;
}

mat-card-actions{
    display: flex;
    justify-content:space-evenly;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
  border: 2px solid #ccc;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px #ccc;
}

mat-card-actions{
    margin-top: 25px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 10px;
  }
  
  .example-full-width {
    width: 95%;
  }

.ingresar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    button{
        min-width: 300px;
        min-height: 40px;
        margin-bottom: 10px;
    }
}