<div class="page">
    <div class="container">
      <div *ngFor="let reserva of reservas" class="section">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title style="text-align: center;">{{reserva.nombre}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{reserva.imagen}}" alt="img">
          <mat-card-content>
            <p>
              Fecha: {{reserva.fecha}}
              Hora: {{reserva.hora}}
              Cantidad: {{reserva.cantidad}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="buttonStyle" mat-button>Eliminate</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>